body {
  margin: 0;
}

#tweets {
  margin: 1em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
#tweets li {
  font-size: 10pt;
  list-style-type: none;
  margin: 0px 5px;
  clear: both;
  height: 90px;
}

#tweets li:nth-child(2n+1) {
  background-color: hsl(188, 100%, 88%);
}

#tweets li.with_photo_thumbnails {
  min-height: 160px;
}

.photo_thumbnail {
  width: 80px;
  height: 80px;
}

.user_icon {
  float: left;
  height: 100%;
  margin-right: 0.5em;
}

#topbar {
  position: fixed;
  top: 0;
  background-color: #ddd;
  width: 100%;
  height: 75px;
}

#notifier_bar {
  width: 100%;
  height: 2em;
  position: absolute;
  bottom: 0;
}

.notification {
  background-color: hsl(30, 100%, 50%);
  width: 100%;
  height: 1.5em;
  position: fixed;
  bottom: -1.5em;
  -webkit-animation: show_notifier 0.5s forwards;
}

.notification.favorite {
  background-color: hsl(60, 100%, 50%);
}

.notification.follow {
  background-color: hsl(200, 100%, 50%);
}

@-webkit-keyframes show_notifier {
  0% { bottom: -1.5em; }
  100% { bottom: 0; }
}

#outline {
  margin-top: 75px;
}