/*** reset css and font ***/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
  margin: 0;
  font-family: 'Noto Sans Japanese', serif;
}
input, textarea, keygen, select, button, isindex, datagrid {
  font-family: inherit;
}
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0.05em 0.1em;
  vertical-align: -0.1em;
}

/*** outline ***/
#outline {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/*** top bar ***/
#topbar {
  background-color: #ddd;
}
.long_tweet {
  color: hsl(30, 100%, 55%);
}
.exceeded_tweet {
  color: hsl(0, 100%, 55%);
}

/*** time line ***/
#tweets {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: always;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
#tweets li {
  background-color: hsl(188, 100%, 88%);
  font-size: 10pt;
  list-style-type: none;
  margin: 2px 3px;
  min-height: 60px;
  display: flex;
  flex-direction: row;
}
#tweets li.selected {
  background-color: hsl(188, 100%, 77%);
}
#tweets li.retweeted_status {
  background-color: hsl(100, 100%, 88%);
}
#tweets li.retweeted_status.selected {
  background-color: hsl(100, 100%, 77%);
}
#tweets li.with_photo_thumbnails {
  min-height: 160px;
}
#tweets li.mentions_for_you {
  background-color: hsl(0, 100%, 88%);
}
#tweets li.mentions_for_you.selected {
  background-color: hsl(0, 100%, 77%);
}
#tweets .tweet_info {
  width: 100%;
}

/*** url ***/
.url {
  color: hsl(10, 100%, 50%);
  text-decoration: underline;
  cursor: pointer;
}
.url:hover {
  color: hsl(10, 100%, 20%);
}

/*** thumbnail ***/
.photo_thumbnail {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
  cursor: zoom-in;
}
.video_thumbnail {
  display: block;
  z-index: 0;
  position: relative;
  width: 80px;
  height: 80px;
  cursor: zoom-in;
}
.video_thumbnail .play_icon {
  background-color: hsla(360, 100%, 0%, 0.5);
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*** info bar ***/
.infobar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.spacing {
  flex-grow: 1;
}
.via,.created_at {
  margin-left: 1ex;
}

.favorite,.retweet {
  cursor: pointer;
}

/*** media view ***/
#media_view {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: zoom-out;
}
#media_view img, #media_view video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
}

/*** small tweet ***/
.user_icon {
  height: 100%;
  min-height: inherit;
  margin-right: 0.5em;
}
.small_user_icon {
  width: 16px;
  height: 16px;
}

/*** notifier ***/
.notification {
  background-color: hsl(30, 100%, 50%);
  width: 100%;
  height: 1.5em;
  position: fixed;
  bottom: -1.5em;
  -webkit-animation: show_notifier 0.5s forwards;
}
.notification.favorite {
  background-color: hsl(60, 100%, 50%);
}
.notification.follow {
  background-color: hsl(200, 100%, 50%);
}
.notification.fail {
  background-color: hsl(360, 100%, 60%);
}
@-webkit-keyframes show_notifier {
  0% { bottom: -1.5em; }
  100% { bottom: 0; }
}
