<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <script src="//cdnjs.cloudflare.com/ajax/libs/twemoji/1.3.2/twemoji.min.js"></script>
  <script src="./index.js"></script>
  <link rel="stylesheet" href="../style/main.css">
</head>

<body>
  <template id="small-tweet" style="display: none;">
    <div>
      <button v-on:click="vm.clearReply()" v-if="replysender">X</button>
      <img class="small_user_icon"
           v-bind:src="tweet.user.profile_image_url_https">
        {{ tweet.text }}
    </div>
  </template>
  <div id="container" v-on:keypress="detectKeyDown($event)" tabindex="-1">

    <div id="outline">

      <div id="topbar">
        this is the ultimate twitter client !!!!
        <a href="./preference.html">pref.</a>
        <input type="text" v-model="newTweet.text" v-el:submit_box>
        <button v-on:click="sendTweet(newTweet)" v-bind:disabled="isExceededTweet">
          ツイート
        </button>
        <span v-bind:class="{ 'long_tweet': isLongTweet, 'exceeded_tweet': isExceededTweet }">
          {{ calculateRemainChar }}
        </span>
        <button v-on:click="startStreaming()" v-bind:disabled="streaming">
          ストリーミング
        </button>
        <small-tweet v-if="newTweet.in_reply_to_status_id"
                    :tweet="sendReplyDestTweet" :replysender="true">
        </small-tweet>
      </div>

      <div id="media_view" v-if="showingMediaType != ''" v-on:click="closeMedia()">
        <img v-if="showingMediaType == 'photo'" v-bind:src="image.url" v-bind:width="image.width"
             v-bind:height="image.height" v-on:contextmenu="contextMenuOnImage()">
        <video controls autoplay loop v-if="showingMediaType == 'video'">
          <source v-bind:src="video.url" v-bind:type="video.mimetype">
        </video>
      </div>

      <ul id="tweets">
        <li v-for="tweet in tweets | orderBy 'id' -1"
            v-bind:class="{
              'retweeted_status': tweet.retweeted_status,
              'mentions_for_you': isMentionsForYou(tweet),
              'selected': isSelectedTweet(tweet)
            }"
            v-on:contextmenu="contextMenuOnTweet(tweet)"
            v-on:click="toggleSelectedTweet(tweet)">
          <div class="user_icon">
            <img v-bind:src="body(tweet).user.profile_image_url"
                 v-on:click="sendReply(body(tweet))">
          </div>

          <div class="tweet_info">
            <div>
              {{ body(tweet).user.name }} @{{ body(tweet).user.screen_name }}
              <span v-if="body(tweet).in_reply_to_status">💬</span>
            </div>
            <span>
              {{{ body(tweet).text | expand_url body(tweet).entities | twemoji }}}
            </span>
            <div v-if="hasMedias(tweet)">
              <span v-for="media in body(tweet).extended_entities.media">
                <span v-if="media.type == 'photo'">
                  <img v-bind:src="media.media_url" v-bind:width="media"
                  v-on:click="showMedia(media)"
                  class="photo_thumbnail">
                </span>
                <span v-else class="video_thumbnail" v-on:click="showMedia(media)">
                  <img v-bind:src="media.media_url" v-bind:width="media"
                  class="photo_thumbnail">
                  <img src="../image/play_icon.svg" class="play_icon">
                </span>
              </span>
            </div>
            <small-tweet v-if="body(tweet).quoted_status"
                        :tweet="body(tweet).quoted_status" :replysender="false">
            </small-tweet>
            <small-tweet v-if="body(tweet).in_reply_to_status && isSelectedTweet(tweet)"
                        :tweet="body(tweet).in_reply_to_status" :replysender="false">
            </small-tweet>
            <div class="infobar">
              <div class="favorite" v-on:click="favoriteTweet(body(tweet))">
                <span v-if="body(tweet).favorited">{{{ '🍣' | twemoji }}}</span>
                <span v-else>{{{ '🍚' | twemoji }}}</span>
                {{ body(tweet).favorite_count }}
              </div>
              <div class="retweet" v-on:click="retweetTweet(tweet)">
                <span v-if="body(tweet).retweeted">{{{ '🔃' | twemoji }}}</span>
                <span v-else>{{{ '🔝' | twemoji }}}</span>
                {{ body(tweet).retweet_count }}
              </div>
              <div class="spacing"></div>
              <div class="retweeted_by" v-if="tweet.retweeted_status">
                retweeted by @{{ tweet.user.screen_name }}
              </div>
              <div class="url created_at" v-on:click="jumpToTwitterURL(tweet)">
                {{ convertTime(body(tweet).created_at) }}
              </div>
              <div class="via">
                via {{ body(tweet).source | text_content }}
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>

    <div id="notifier">
      <div class="notification" v-for="notification in notifications"
           v-bind:class="notification.kind" v-on:click="removeNotification(notification)">
        {{ notification.title }} : {{ notification.body }}
      </div>
    </div>

  </div>
</body>
